.colabs {
  background-color: wheat;
  border-top: 0;
  width: 100%;
  height: 3rem;
}

.colabs div {
  float: left;
  height: 100%;
  width: 20%;
  text-align: center;
  margin-left: 3.5rem;
}

.colabs div a {
  text-decoration: none;
  font-size: 2rem;
  padding: 0.05;
  margin-left: 3rem;
}

.uno {
  float: left;
}

.dos {
  float: left;
}

/*.dos ul li a:visited {
  color: rgb(9, 13, 247);
}*/